<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>261370888885-n20vbkbu8unifjd92qravl4cbr0244hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261370888885-n20vbkbu8unifjd92qravl4cbr0244hm</string>
	<key>API_KEY</key>
	<string>AIzaSyCxExnQIM-L7PS7DwLzZBPsg72nqkxAYH8</string>
	<key>GCM_SENDER_ID</key>
	<string>261370888885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.OnionApps.OnionReports</string>
	<key>PROJECT_ID</key>
	<string>burgerst-53775</string>
	<key>STORAGE_BUCKET</key>
	<string>burgerst-53775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:261370888885:ios:dab1fefeb598d1dd</string>
	<key>DATABASE_URL</key>
	<string>https://burgerst-53775.firebaseio.com</string>
</dict>
</plist>