<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>898166935494-kh0hvftc8tjufbug78p7u6ou5un0k4t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898166935494-kh0hvftc8tjufbug78p7u6ou5un0k4t5</string>
	<key>API_KEY</key>
	<string>AIzaSyAvcRTAClN0OiWL_cvb4n1K9-E7OQStmEo</string>
	<key>GCM_SENDER_ID</key>
	<string>898166935494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.OnionApps.OnionReports</string>
	<key>PROJECT_ID</key>
	<string>sizematters-55cda</string>
	<key>STORAGE_BUCKET</key>
	<string>sizematters-55cda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:898166935494:ios:dab1fefeb598d1dd</string>
	<key>DATABASE_URL</key>
	<string>https://sizematters-55cda.firebaseio.com</string>
</dict>
</plist>